@import "../../styles/const.styl";

.input-group {
    &__input {
        width: 100%;
        height: 32px;
        line-height: 32px;
        border: 1px solid $main_middle;
        border-radius: 4px;
        padding: 0 8px;

        &_required {
            border-color: $danger;
        }
    }

    &__label {
        text-transform: uppercase;
        color: $main;

        &_required {
            color: $danger;
        }
    }
}