$header_height = 52px;
$footer_height = 92px;

$white = #fff;
$black = #000;
$main = #334152;

$main_lighter = #fbf9f9;
$main_darker = #e6ecec;
$main_middle = #ccc;

$danger = #d50300;

$jade = #42A89B;
$jade_middle = #1f988a;
$jade_darker = #2D6E62;

transition(time = 300ms) {
    -webkit-transition: all time ease;
    -moz-transition: all time ease;
    -ms-transition: all time ease;
    -o-transition: all time ease;
    transition: all time ease;
}
   

