@import "../../styles/const.styl";

.footer {
    padding: 12px 0;
    background-color: $black;
    color: $white;
    height: $footer_height;

    .footer__block {
        text-align: center;
    }
}